@model IEnumerable<Udem.LlamaClothingCo.Entities.Item>
 
@{
    ViewBag.Title = "Browse Products";
}
 <div class="row">
<div class="large-12 columns">
  
<div class="row">
 
 <!-- Side Bar -->
        <div class="row">

        <div class="large-2 columns">
        <div class="hide-for-small panel">
        <h3>Categories</h3>
        @{Html.RenderAction("CategoMenu", "Store");}
        </div>
        </div>
<!-- End Side Bar -->
<!-- Thumbnails -->
 
<div class="large-10 columns">

<div id="products">
    @foreach (var item in Model)
    {
       
    <div class="large-4 small-6 columns">
    <img src="http://placehold.it/1000x1000&text=Thumbnail">
 
    <div class="panel">
        <h4><a href="@Url.Action("Details", "Store", new { id = item.ItemId })">@item.Name</a></h4> 
        <h5>@item.Description</h5>
        <h6 class="subheader">$@Html.DisplayFor(modelItem => item.Cost)</h6>
        
        @using (Html.BeginForm("AddToCart", "Cart"))
     {
        @Html.Hidden("productId",item.ItemId)
        @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
        <input class="small success radius button" type="submit" value="+ Add to Cart" />
    }
    </div>
    </div>
    }
</div>
</div>
</div>
