@model IEnumerable<Udem.LlamaClothingCo.Entities.Sale>
@{
    ViewBag.Title = "Browse Sales";
}
 
<h2>Your Orders</h2>
<div>
<table class="responsive" text-align: center">
   <thead>
       <tr>
           <th style="text-align: center">Sale Id</th>
           <th style="text-align: left">Date</th>
           <th style="text-align: right">Sale total</th>
           <th style="text-align: right"></th>
       </tr>
   </thead>
  <tbody>
        @foreach (var sale in Model)
        {
            <tr>
                <td style="text-align: center">@sale.SaleId</td>
                <td style="text-align: left">@sale.Date</td>
                <td style="text-align: right">@sale.SaleTotal</td>
                <td><a href="@Url.Action("Details", "Sale", new { id = sale.SaleId })">Details</a></td> 
                <td>
                    @using (Html.BeginForm("RemoveFromSales", "Sale"))
                    {
                        @Html.Hidden("sale", sale.SaleId)
                        <input type="submit" class="actionButtons" value="Remove" />
                    }
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromSales", "Sale"))
                    {
                        @Html.Hidden("sale", sale.SaleId)
                        <input type="submit" class="actionButtons" value="Remove" />
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

    </div>